
body {
    font-family: 'Lato', sans-serif;
    color: #2b1a1a;
}

h1 {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 8px;
    text-decoration: none;
}

.h1-header, .h1-header:hover, .h1-header:active, .h1-header:visited, .h1-header:link{
    text-decoration: none;
    color: #2b1a1a;
}

h2{
    margin-bottom: 1em;
    margin-top: 1em;
    text-align: center;
}

h3{
    font-size: 1.2em;
    line-height: 1.3;
    margin-bottom: .5em;
}

.h4title{
    font-size: 16px;
}


hr {
    background-color: #000;
    height: 1px;
    margin-top: 0;
}

p{
    font-size: 16px;
    line-height: 1.6em;
}

a, a:hover, a:active, a:visited {
    color: #cb4154;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .75s;
    -webkit-transition: border-bottom-color 1s;
    background-color: transparent;
}

.head-container ul {
    list-style: none;
}

.head-container li {
    display: inline-block;
    padding: 0 0 0 1em;
}

#resume ul {
    padding-left: 20px;
    padding-bottom: 20px;
}

#resume li {
    list-style-type: square;
    font-size: 16px;
    line-height: 1.6em;
}


.container{
    max-width: 1022px;
}

.head-container {
    width: 100%;
    min-height: 85px;
}

.head-container ul {
    padding-top: 53px;
    text-transform: uppercase;
    text-align: center;
}

.p-left {
    float: left;
}
.p-right {
    float: right;
}

#resume{
    max-width: 60%;
    margin: auto;
}

#contact{
    max-width: 300px;
    margin: auto;
}

#contact ul {
    font-size: 16px;
    list-style: none;
}


@media screen and (max-width: 760px) {

    .p-left, .p-right {
        float: none !important;
        text-align: center;
        margin: 0 auto;
    }
    .p-left {
        font-size: 3em;
        margin-top: 30px;
        margin-bottom: 8px;
        text-decoration: none;
    }

    .p-right{
        margin-left: 0;
        padding-left: 0;
    }

    .head-container {
        width: 100%;
        min-height: 43px;
    }

    .head-container ul {
        text-transform: uppercase;
        text-align: center;
        padding: 3px 0 8px 0;
    }

    .head-container li {
        padding: 0 0 0 1em;
    }

    .head-container li:first-child {
        padding: 0 0 0 0em;
    }

    #resume{
        max-width: 95%;
    }
}

