
body {
    font-family: 'Lato', sans-serif;
    color: #2b1a1a;
}

h1 {
    font-size: 3em;
    margin-top: 30px;
    margin-bottom: 8px;
    text-decoration: none;
}

.h1-header{
    text-decoration: none;
    color: #2b1a1a;
}

.h1-header:hover{
    text-decoration: none;
    color: #2b1a1a;
}

hr {
    background-color: #000;
    height: 1px;
    margin-top: 0px;
}

a {
    color: #cb4154;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .75s;
    -webkit-transition: border-bottom-color 1s;
    background-color: transparent;
}

a:hover {
    color: #cb4154;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: border-bottom-color .75s;
    -webkit-transition: border-bottom-color 1s;
}

ul {
    list-style: none;
}

li {
    display: inline-block;
    padding: 0 0 0 1em;
}

.container{
    max-width: 1022px;
}

.head-container {
    width: 100%;
    min-height: 85px;
}

.head-container ul {
    padding-top: 53px;
    text-transform: uppercase;
    text-align: center;
}